*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  border: none;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 100%;
}

li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.head-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 0 16px 0 16px;
}

.navigation {
  display: flex;
  align-items: center;
}

.container {
  max-width: 288px;
  margin: 0 auto;
}

@media screen and (max-width: 766px) {
  .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .nav-list {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.logo,
.logo-footer {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .logo {
    margin-right: 0;
  }
}

.studio-logo {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-item {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:first-child a {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:first-child a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.list-item:hover,
.list-item:focus {
  color: #404bbf;
  text-decoration: none;
}

.list-item:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.address {
  font-style: normal;
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .address {
    display: flex;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-item {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    color: #434455;
  }
}

@media screen and (min-width: 1158px) {
  .address {
    display: flex;
  }
}

.address-item:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.address-item:hover,
.address-item:focus,
.address-item:active {
  color: #404bbf;
  text-decoration: none;
}

.mobile-button {
  border: none;
  background-color: #ffffff;
}

@media screen and (min-width: 767px) {
  .mobile-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-button {
    display: none;
  }
}

.main-screen {
  background-color: #2e2f42;
  background-image: image-set(
    url(../images/main-phone@1x-min.jpg) 1x,
    url(../images/main-phone@2x-min.jpg) 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

@media screen and (min-width: 767px) {
  .main-screen {
    background-image: image-set(
      url(../images/main-table@1x-min.jpg) 1x,
      url(../images/main-table@2x-min.jpg) 2x
    );
    max-width: 768px;
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .main-screen {
    background-image: image-set(
      url(../images/main-desk-top@1x.jpg) 1x,
      url(../images/main-desk-top@2x.jpg) 2x
    );
    max-width: 1440px;
    padding: 188px 0;
  }
}

.container.main-container {
  padding: 0;
}

.title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 767px) {
  .title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  align-self: center;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  min-width: 169px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 767px) {
  .about-us-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .about-us-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.about-us {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .about-us {
    padding: 129px 0;
  }
}
.about-us-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 72px;
}
@media screen and (min-width: 767px) {
  .about-us-list {
    gap: 24px;
  }
}

.about-us-item {
  width: 100%;
}

.about-us-text {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .about-us-text {
    font-weight: 400;
  }
}

@media screen and (min-width: 767px) {
  .about-us-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .about-us-item {
    width: calc((100% - 72px) / 4);
  }
}

.about-us-block {
  display: none;
}

@media screen and (min-width: 1158px) {
  .about-us-block {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}

.team-container {
  margin: 0 auto;
  padding: 0 15px;
}

.team-info {
  text-align: center;
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 0;
  margin: 0;
}

@media screen and (min-width: 767px) {
  .team-info {
    padding: 96px 108px;
  }
}

@media screen and (min-width: 1158px) {
  .team-info {
    padding: 120px 0;
    margin: 0 auto;
  }
}

.team-title {
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 64px;
}
.team-img {
  width: 100%;
}

@media screen and (min-width: 1158px) {
  .team {
    min-width: 238px;
  }
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  max-width: 264px;
}

@media screen and (min-width: 767px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-card-info {
  padding: 32px 0;
  background-color: #ffffff;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.card-social-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
}

.card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

.social-container {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-img {
  width: 100%;
}

.portfolio-title {
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-top {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-item:hover .card-top p {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-container-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.logo-footer {
  display: inline-block;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 766px) {
  .footer-container {
    gap: 72px;
  }
}

@media screen and (min-width: 767px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 108px;
  }
}

@media screen and (max-width: 1157px) {
  .footer-container {
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}

.footer-info {
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
  width: 264px;
}

.studio-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: flex-start;
  color: #f4f4fd;
}
.footer-copy a {
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .footer-copy {
    display: inline-block;
  }
}

@media screen and (min-width: 1158px) {
  .footer-copy {
    margin-right: 120px;
  }
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .social-footer {
    display: inline-block;
  }
}
@media screen and (min-width: 767px) {
  .social-footer {
    margin-right: 80px;
  }
}

.media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-link-footer {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.card-social-list-footer {
  gap: 16px;
  display: flex;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.button-footer {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

.ipt-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .ipt-footer {
    flex-direction: row;
  }
}

.plane-footer {
  margin-left: 16px;
}

.email-footer {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

@media screen and (min-width: 1158px) {
  .email-footer {
    opacity: 1;
  }
}
.email-footer::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .subscribe {
    display: inline-block;
  }
}

.button-footer {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 165px;
}

.button-footer:hover,
.button-footer:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.plane-wrapper {
  width: 24px;
  height: 24px;
  align-items: center;
  display: flex;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  align-self: flex-end;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form {
  width: 100%;
}

.input-wrapper {
  position: relative;
}

.wrapper {
  margin-bottom: 8px;
}

.user-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  padding-bottom: 11px;
  padding-top: 11px;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:focus {
  border: 1px solid #4d5ae5;
}

.user-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.user-input-comment {
  padding-left: 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
}

.user-input-comment:focus {
  border-color: #4d5ae5;
}

.user-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

textarea {
  resize: none;
}

.modal-button {
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.checker-box {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: flex-end;
}

.policy-wrapper {
  margin-bottom: 24px;
}

.policy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-label a {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked + .policy-label .modal-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.wrapper-comment {
  margin-bottom: 16px;
}
